.container {
  @apply px-5;

  @screen md {
    @apply px-8;
  }
}

.container--header {
  @apply pt-3;
  margin-bottom: 1vw;

  @screen md {
    @apply pt-4
  }
}

.container--footer {
  @apply pb-3;

  @screen md {
    @apply pb-4
  }
}

.container--content {
  @apply py-20;

  @screen md {
    @apply py-20;
  }

  @screen lg {
    padding-top: 8vw;
    padding-bottom: 5vw;
  }
}