body {
  @apply font-sans antialiased;
}

p {
  @apply text-3xl mb-5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply
    p-0
    mb-6
		leading-tight
		font-bold;
}

h1 {
	@apply text-xl;
}

h2 {
	@apply text-lg;
}

.header--mask {
  @apply fixed top-0 left-0 right-0 mt-10 bg-gradient-to-b from-black to-transparent z-20;
  height: 4vw;

  @screen md {
    @apply mt-12;
  }
}

.header-item {
  @apply block text-xl;

  @screen lg {
    font-size: 1.9vw;
  }

  &.is--active {
    @apply italic relative;

    &:before {
      content: ' ';
      width: 5px;
      height: 5px;
      margin-top: 10px;
      @apply rounded-full inline-block -ml-3 absolute top-0 left-0 font-display not-italic leading-none bg-current;

      @screen md {
        @apply -ml-4;
        width: 8px;
        height: 8px;
        margin-top: 1vw;
      }
    }
  }
}

.footer-item {
  @apply block text-lg;

  @screen lg {
    font-size: 1.55vw;
  }
}

.work-area {
  transition: opacity .5s ease-in-out;
  &:hover {
    .work-item {
      @apply opacity-25;
    }
  }
}

.work-item {
  transition: opacity .5s ease-in-out;

  &:hover, &:focus {
    @apply opacity-100 !important;

    .work-item__inner {
      @apply pl-5;
    }
    
    .work-item__image {
      @apply opacity-15;
    }
  }
}

.work-item__inner {
  @apply transition-all ease-in-out duration-300 flex flex-wrap;
}

.work-item-wrapper {
  .work-item {
    @apply pt-5 pb-2;

    @screen md {
      padding-top: 3.2vw;
    }

    @screen lg {
      padding-top: 2.9vw;
    }
    
    @screen xl {
      padding-top: 2.75vw;
    }
  }

  &:first-child {
    .work-item {
      @apply pt-0;
    }
  }
}

.work-item__index {
  @apply italic w-auto mr-2 text-lg pl-0 transition-all ease-in-out duration-500 block text-center;
  margin-top: -1.25vw;
  min-width: 20px;
  
  @screen md {
    @apply mr-5 block;
    /* font-size: 50px; */
    font-size: 3vw;

    min-width: 4vw;
  }
}


.work-item__year {
  @apply italic w-auto self-end text-xl;

  @screen md {
    /* font-size: 50px; */
    font-size: 4vw;
  }
}

.work-item__title {
  @apply block uppercase font-display leading-negative tracking-tight flex-1 pr-4;

  font-size: 2.65rem;

  @screen md {
    /* font-size: 120px; */
    line-height: 9vw;
    font-size: 10vw;
  }
}

.work-item__image {
  @apply w-2/3 absolute top-0 right-0 opacity-0 transition-all ease-in-out duration-500;
  margin-top: -5%;
  margin-right: 5%;

  @screen md {
    @apply w-5/12;
  }

  @screen xl {
    @apply w-4/12;
  }
}


.about-text {
  @apply block font-display leading-none tracking-tight;
  font-size: 2.85rem;

  @screen md {
    font-size: 6.85vw;
  }

  @screen lg {
    font-size: 6.45vw;
  }

  @screen xl {
    font-size: 6vw;
  }
}

.collab-text {
  @apply block font-display leading-none tracking-tight;
  font-size: 2.7rem;

  @screen md {
    font-size: 4.1vw;
  }

  @screen lg {
    font-size: 3.85vw;
  }

  @screen xl {
    font-size: 3.5vw;
  }
}

.about-text--mini {
  @apply block font-sans leading-tight text-3xl;

  @screen md {
    font-size: 3.4vw;
  }
}

/* Link */
.link {
  @apply text-black underline transition;

  &:hover, &:focus {
    @apply text-gray-600;
  }

  &.is--active {
    @apply text-red-700;
  }
}

/* Content */
.content {
  
  /* Paragraph */
  p {
    @apply mb-6;
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;
  }
}

::selection { 
  @apply bg-white text-black bg-opacity-100;
 }

button {
  border: none !important;
  outline:none !important;
}

.fake-strike {
  @apply relative;
  &:after {
    content: " ";
    /* transition: width 0.5s ease-in-out; */
    @apply absolute  bg-current;
    top: 49%;
    left: 0;
    width: 0px;
    height: 1px;
  }

  &:hover, &:focus {
    &:after {
      @apply w-full;
    }
  }
}